/*================================================================= scss/varriables.scss =================================================================*/


// theme colors
$primary: #326dee !default;
$secondary: #1ac886 !default;
$error: #d32752 !default;
$info: #f6c31c !default;

// color palette
$colors: (
    "primary": $primary,
    "primary-light-complement": light-comp($primary),
    "primary-dark-complement": dark-comp($primary),
    "secondary": $secondary,
    "secondary-light-complement": light-comp($secondary),
    "secondary-dark-complement": dark-comp($secondary),
    "error": $error,
    "error-dark-complement": dark-comp($error),
    "error-light-complement": light-comp($error),
    "info": $info,
    "info-light-complement": light-comp($info),
    "info-dark-complement": dark-comp($info),
    "blue": #1919e6,
    "blue-light-complement": light-comp(#1919e6),
    "blue-dark-complement": dark-comp(#1919e6),
    "red": #e61919,
    "red-light-complement": light-comp(#e61919),
    "red-dark-complement": dark-comp(#e61919),
    "yellow": #e6e619,
    "yellow-light-complement": light-comp(#e6e619),
    "yellow-dark-complement": dark-comp(#e6e619),
    "green": #19e635,
    "green-light-complement": light-comp(#19e635),
    "green-dark-complement": dark-comp(#19e635),
    "orange": #ffa600,
    "orange-light-complement": light-comp(#ffa600),
    "orange-dark-complement": dark-comp(#ffa600),
    "purple": #9900ff,
    "purple-light-complement": light-comp(#9900ff),
    "purple-dark-complement": dark-comp(#9900ff),
    "gray": #808080,
    "gray-light-complement": light-comp(#808080),
    "gray-dark-complement": dark-comp(#808080),
    "black": #000000,
    "black-light-complement": light-comp(#000000),
    "white": #ffffff,
    "white-light-complement": light-comp(#ffffff),
    "white-dark-complement": dark-comp(#ffffff),
    "e2": #e2e2e2e2,
    "e2-light-complement": light-comp(#e2e2e2e2),
    "e2-dark-complement": dark-comp(#e2e2e2e2),
    "alfie": #e87800,
    "alfie-light-complement": light-comp(#e87800),
    "alfie-dark": darken(#e87800, 5%),
    "alfie-light-dark": lighten(darken(#e87800, 5%), 3%),
    "orange-gray": mix(#ffa600, #808080, 50%),
    "idk": mix(mix(#ffa600, #808080, 50%), lighten(darken(#e87800, 5%), 3%) , 50%)
);




// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * .75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
$font-size-xxxl: $base-font-size * 4;
/*================================================================= end of scss/varriables.scss =================================================================*/

